<div class='incomplete-task'>
      <span class='incomplete'><%= link_to task.title, task %></span>
      <div class="complete-form">
        <%= form_for(task) do |f| %>
        <%= f.hidden_field :complete, value: 1 %>
        <%= f.submit 'Complete Task', class:'btn btn-primary' %>
        <% end %>
      </div>
    </div> 