<%= form_for(@task) do |f| %>

<%= f.label :title %>
<span class="new-task"><%= f.text_field :title, class:"form-control" %></span>

<span class="create-task"><%= f.submit "Create Task", class:"btn btn-primary" %></span>

<% end %>